body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    width: 100%;
    color: white;
    background-color: black;
    margin: 0;
    top: 0;
    position: fixed;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    /* Used in this example to enable scrolling */
}

.main a:hover {
    background-color: #ddd;
}

.rankings {
    width: 45%;
    margin-left: 5%;
    border-style: inset;
    min-height: 500px;
}

.stats {
    width: 45%;
    margin-right: 5%;
    border-style: inset;
    min-height: 500px;
}


/* ADD OHIO FLAG */

.main ul {
    list-style: none;
}

.main li .ohio {
    background-image: url(../home/media/ohio-flag.png);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    padding: .2rem 0 0 2rem;
}